    <!--HEADER : BRAND + NAV-->
<header class=" fixed-top container-fluid m-0 p-0">
  <div class="  col-12 h-100 d-flex p-0">
    <div class="d-flex align-items-center justify-content-center p-0">
      <!-- Brand -->
      <div class="custom_logo">
          <a href="index.php?controller=home&action=index">
              <img src="./images/logo/logo_expand_1C.png " alt="panier avec un flan et un chou"/>
          </a>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end ">
      <!--Nav-->
      <nav class="d-flex align-items-center justify-content-center">
        <button class="navbar-toggler bg-primary collapsed" type="button" title="menu" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="text-light">
            <i class="fa fa-seedling"></i>
          </span>
        </button>
        <div class="custom_nav m-auto collapse pt-2" id="navbarSupportedContent1" style="">
          <div class="container-fluid d-inline-flex">
            <div class="row ">
              <div id="home" class="div">
                <p id="homep" class="p"><a href="index.php?controller=home&action=index">Accueil</a></p>
              </div>
              <div class="div">
                <p class="p"><a href="">Infos</a></p>
              </div>
              {% if user is defined %}
              <div class="div">
                <p class="p"><a href="index.php?controller=users&action=index">Mon compte</a></p>
              </div>
              <div class="div">
                  <p class="p"><a href="index.php?controller=users&action=logout">Déconnexion</a></p>
              </div>
              {% else %}
              <div class="div">
                <p class="p"><a href="index.php?controller=home&action=login">Connexion</a></p>
              </div>
              <div class="div">
                <p class="p"><a href="index.php?controller=home&action=register">Inscription</a></p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>     
    </div>
  </div>
  {% for log in logs %}
    <div class="alert alert-dismissible fade show {{log.alertBootstrap}}">
        <button class="close" data-dismiss="alert">&times;</button>
        <h5>{{log.message}} {{log.name}}</h5>
    </div>
  {% endfor %}   
</header>
          