{% block header %}
    <!--HEADER : BRAND + NAV-->
  <header class="fixed-top d-flex bg-info">
    <div class="container-fluid ">
      <div class="row h-100">
        <!-- Brand -->
        <div class="custom_logo d-flex align-items-center justify-content-center col-6">
          <img class=" d-flex mx-auto img-fluid mt-4" src="./images/logo/logo_expand_1B.png " alt="" />
        </div>

        <!--<div class="custom_brand d-flex align-items-center justify-content-center col-4">
          <h1 class="text-center">3 <span class="custom_main_title_part1">flancs,</span>
            6 <span class="sp-2">choux</span>
          </h1>
        </div>-->
        <!--
        <div class="custom_nav d-flex align-items-center justify-content-center col-4">-->

        <!--Nav-->
        <nav class="d-flex align-items-center justify-content-center col-6">
          <button class="navbar-toggler bg-primary" type="button" title="menu" data-toggle="collapse"
            data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="text-light"><i class="fa fa-seedling"></i></span>
          </button>

          <div class="custom_nav align-items-center justify-content-center collapse" id="navbarSupportedContent1">
            <div class="container d-inline-flex">
              <div class="row">
                <div id="home" class="div ">
                  <p id="homep" class="p">Accueil</p>
                </div>
                <div class="div">
                  <p class="p">Infos</p>
                </div>
                {% if user is defined %}
                  <div class="div">
                  <p class="p">Déconnexion</p>
                </div>
                {% else %} 
                  <div class="div">
                    <p class="p">Connexion</p>
                  </div>
                  <div class="div">
                    <p class="p">Inscription</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
{% endblock %}
          