{% extends "main_template.html.twig" %} 
{% block content %}
<h2> Connectez-vous</h1>
<form class="" method="POST" action="index.php?controller=users&action=login" method="POST">        
    <input type="email" placeholder="identifiant email" name="login" required>        
    <input type="password"  placeholder="mot de passe" name="password" required>   
    <button class="btn btn-primary" type="submit">Se connecter</button>   
</form>       
{% endblock %}