{% extends "main_template.html.twig" %}
{% block content %}

<form method="POST" action="index.php?controller=users&action=register">
  <input type="text" placeholder="Votre prénom" name="name" required />
  <input type="text" placeholder="Votre nom" name="surname" required />
  <input type="text" placeholder="Adresse" name="address" required />
  <input type="text" placeholder="Code postal" name="zip_code" required />
  <input type="text" placeholder="Ville" name="city" required />
  <input type="text" placeholder="n° tel" name="phone" required />
  <input type="email" placeholder="email" name="email" required />
  <input type="password" placeholder="mot de passe" name="password" required />
  <input type="hidden" name="role" value="1" required />
  <!--1 = particulier -->
  <textarea placeholder="Description" name="profile"></textarea>
  <button class="btn btn-primary" type="submit">S'inscrire</button>
</form>

<form method="POST" action="index.php?controller=users&action=register">
  <input type="text" placeholder="Nom entreprise" name="company" required />
  <input type="text" placeholder="Adresse" name="address" required />
  <input type="text" placeholder="Code postal" name="zip_code" required />
  <input type="text" placeholder="Ville" name="city" required />
  <input type="text" placeholder="n° tel" name="phone" required />
  <input type="email" placeholder="email" name="email" required />
  <input type="password" placeholder="mot de passe" name="password" required />
  <input type="hidden" name="role" value="2" required />
  <!--2 = professionnel -->
  <textarea placeholder="Description" name="profile"></textarea>
  <button class="btn btn-primary" type="submit">S'inscrire</button>
</form>

{% endblock %}