/*CUSTOM CSS : ADDITIONAL CSS FOR BOOTSTRAP*/

/*GENERAL*/
/*Scrollbar*/
* {
  scrollbar-color: #845f3c  #a5d710;
}

*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background: #a5d710;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

*::-webkit-scrollbar-thumb {
  background-image:url("../images/background/wood.png");
  border:2px solid rgb(94, 62, 4);
  border-radius: 20px;
  box-shadow: -1px 2px 10px 3px rgba(58, 14, 14, 0.3) inset;
}

/*link hover*/ 
a, a:hover {
  text-decoration: none;
  font-size: 1em;
}

/*Forms*/
/*label*/
label {
  font-size:20px;
}
/*visibility form*/
.hidden_form {
  visibility: hidden;
}

/*alert ( addLog message)*/
.alert {
  text-align: center;
}

/*general engraved style for few titles*/
.custom_engraved_text {
  color: #937d43;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

/*Body*/
.custom_body_bg {
  width:100%;
  height: auto;
  background: url("../images/background/nature_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Header*/
header {
  height: 15vh;
  margin: 0;
  background: url("../images/background/clouds2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 15px solid #a5d710;
}
 
/*container page title*/
.custom_title_main_content {
  top: 5px;
}

.custom_page_title {
  width: 100%; 
  padding-top: 0.5em;
  color: #333;
}

/*Logo*/
.custom_logo {
  position: absolute;
  left: 2vh;
}

.custom_logo a {
  z-index:2000;
}

.custom_logo img {
  width: 30vh;
  height: auto;
  z-index: 1900;
  position: relative;  
}

.custom_brand h1 {
  font-size: 2rem;
}

/* Nav*/
.custom_main_nav {
  z-index: 3000;  
}

.custom_main_nav_bg {
  background: url("../images/background/clouds2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border:solid 2px white;
  border-radius: 5px;
}

.p{
  
  text-align: center;
  margin-top: 0;
  cursor: pointer; 
  width: 100%;
  background-image: url("../images/background/wood.png");
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px; 
  border: solid 1px #987c0b;
  box-shadow: #54452c 1px 1px 1px;
}

.div {
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
  width: 78px;
  height: auto;
  margin-top: -3%;
  transition-duration: 0.2s;
}

.div a {
  color :#333;
  text-shadow: 0px -1px 0px rgba(255,255,255,.5);
}

.div a:hover {
  color: #f9faf8;
  text-shadow: 0px -1px 0px rgba(39, 38, 38, 0.5);
}

.div:nth-child(odd) {
  transform: perspective(300px) rotateY(45deg);
  /*box-shadow: -2px 2px 7px gray;*/
}

.div:nth-child(even) {
  transform: perspective(300px) rotateY(-45deg);
 
}
.div:hover {
  transform: rotateY(0);
  color: black;
}

/*MAIN CONTENT*/
.custom_main_bg {
  height:auto;
  position: relative;
  padding-top: 15vh;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.418);
}

/*Sections general for 3 sections pages (home/infos/who)*/
.custom_section {
  height: 85vh;
}

/*General row for simple pages (register/connect/contact)*/ 
.custom_simple_page_main {
  height:85vh;
}
  
/*Section 1*/
/*s1 col 1*/
.custom_bg_s1_col1{
  padding: 15px;
  border: 15px solid transparent;
  border-image-source: url("../images/background/wood.png");
  border-image-repeat: stretch;
  border-image-slice: 30; 
  background: url("../images/background/nature_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.custom_bg_s1_col2 {

}

.custom_bg_s2_col1,.custom_bg_s2_col2 {
  border-radius:10% 0;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.6);
}
/*Home*/
/* .custom_brand_title {
  background-image: url("../images/background/nature_bg.png");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */
.custom_bg_home_main_title {
  background-color:#0fa3b1e5;
  border: solid 4px white;
}

.custom_animation_home {
  position: relative;
  animation-name: example;
  animation-duration: 2s;  
  animation-delay: 1s; 
}

@keyframes example {
  from {right: -150px;}
  to {right: 0px;}
}
/*FOOTER*/
.custom_footer_bg {
  background-color: #633c07b8;
  border-radius: 0;
}
/*SINGLE PAGES (info - qui - contact - mentions légales)*/

/*Mentions légales*/
.custom_legals_mentions {
  overflow-y:scroll;
}

/*ADMIN PAGES*/
/*GENERAL*/

/*Admin nav*/
.custom_admin_nav {
  position: absolute;
  top: 15vh;
  z-index: 1029;
  width: 100%;
}

.custom_admin_title_nav {
  background-color: #c5a759;
  box-shadow: #54452c 3px 3px 3px;
}

.custom_admin_nav_button {
  border-radius: 20%;
  border-color: #c5a759;
  box-shadow: #54452c 3px 3px 3px;
}

.custom_admin_nav .nav-link.active , .nav-link:focus{
  background-image: url("../images/background/wood.png");
  background-size: cover;
  color:#333;
  text-shadow: 0px -1px 0px rgba(255,255,255,.5);
} 

.custom_admin_nav .dropdown-item:hover {
  background-color:#a5d710;
}

/*Admin section 1*/
.custom_admin_section {
  height:85vh;
  background: url("../images/background/admin_bg_5372.png") no-repeat center;
  background-size: cover;
}  

/*Admin section 1 left*/
.custom_admin_section_bg_left  {
  
}

/*Admin index => profile */
#custom_admin_profile_s1_col1 {
  width:13em;
  border : 10px solid #845f3c;
  box-shadow: #54452c 3px 3px 3px;
}

.custom_admin_profile_div_title {
  width:250px;
  background-color: #0fa3b1;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 3px #845f3c;
  box-shadow: #54452c 3px 3px 3px;
}

.custom_admin_profile_title {
  color: #f9faf8;
  text-shadow: 0px -1px 0px rgba(39, 38, 38, 0.5);
}

.custom_admin_circle {
  width: 5em;
  height: 5em;
  border: 2px solid #845f3c;
  border-radius: 50%;
  box-shadow: #54452c 3px 3px 3px;
  background-image: url(../images/background/wood.png);
}

.custom_admin_icon_badge {
  text-shadow: 0px -1px 0px #5a0620;
}

.custom_admin_badges {
  position: absolute;
  margin: 8px;
}

.custom_admin_section_bg_right  {
  
}

.custom_admin_bg_s1col2 {
  background: url("../images/background/nature_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  border: 8px solid #9d8547;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.custom_admin_bg_form {
  height: 67vh;
  position: absolute;
  z-index: 1200;
 }

 .custom_admin_window {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
 }

 .custom_admin_form {
  z-index: 2000;
 }

 /*Admin create adds*/
.custom_admin_bg_adds_create {
  background: url("../images/background/admin_bg_create_adds_leaves.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/*Admin create baskets*/
.custom_admin_bg_baskets_create {
  background: url("../images/background/admin_bg_create_baskets_leaves.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

 /*MY ADDS*/


 /*MAP*/
#map {
  height: 80%;
  border: solid 3px #845f3c;
  box-shadow: #54452c 3px 3px 3px;
}

.leaflet-popup-content
{ max-width: 220px;
  max-height: 250px;
  overflow-y: scroll;
}

/*DEV PROFIL */
.custom_dev_main_bg {
  background: url("../images/background/dev_bg2.png") no-repeat top;
  background-size: cover;
}

.custom_dev_section {
  height:85vh;
  /* background: url("../images/background/dev_bg2.png") no-repeat center;
  background-size: cover; */
}

/*MEDIA QUERRIES*/
/*My adds table*/

@media screen and (max-width: 1500px) {
.custom_admin_adds_table {
  overflow-y: scroll;
}

}

@media screen and (max-width: 768px) {

  table thead
{
  border: none;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
    
table tr 
{    
  display: block;
  margin-bottom: .625em;
}
    
table td 
{
  display: block;
  font-size: .8em;
  text-align: right;
}
    
    
table td::before 
{   
  content: attr(data-label);
  float: left; 
  text-transform: uppercase;
} 
    
    
 table td:last-child 
{
  border-bottom: 0;
}

} 


