.custom_brand {
  font-size: 2rem;
}

.navbar {
  border-radius: 0 !important;
}
.custom_nav_way {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.custom_items_menu:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.custom_items_menu {
  transform: scale(0.8);
}

.custom_section {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}
.custom_leftside,
.custom_rightside {
  height: 100vh;
  width: 100%;
}

.bg-image {
  background-image: url("../images/mynature-cut1.jpg");
  background-repeat: no-repeat;
  background-size: initial;
}

.frontpage_square {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.frontpage_square img {
  position: absolute;
}

/*footer*/
