/*CUSTOM CSS : ADDITIONAL CSS FOR BOOTSTRAP*/
/*GENERAL*/
a, a:hover {
  text-decoration: none;
  font-size: 1em;
}

label {
  font-size:20px;
}

.alert {
  text-align: center;
  position: absolute;  
}

.custom_page_title {
  width: 100%; 
  padding-top: 0.5em;
  color: #333;
}

.custom_title_main_content {
  position: absolute;
  top: 5px;
  
}
/*engraved style*/
.custom_engraved_text {
    color: #937d43;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

/*Body*/
.custom_body_bg {
  background: url("../images/background/nature_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Header*/
header {
  height: 15vh;
  margin: 0;
  background: url("../images/background/clouds2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 15px solid #a5d710;
}
  
.custom_logo img {
  width: 70%;
}

.custom_brand h1 {
  font-size: 2rem;
}

/* Nav*/
.custom_nav {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px; 
 
}

.p{
  
  text-align: center;
  margin-top: 0;
  cursor: pointer; 
  width: 100%;
  background-image: url("../images/background/wood.png");
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px; 
  border: solid 1px #987c0b;
  box-shadow: #54452c 1px 1px 1px;
}

.div {
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
  width: 78px;
  height: auto;
  margin-top: -3%;
 transition-duration: 0.2s;
 
}

.div a {
  color :#333;
  text-shadow: 0px -1px 0px rgba(255,255,255,.5);
}

.div a:hover {
  color: #f9faf8;
  text-shadow: 0px -1px 0px rgba(39, 38, 38, 0.5);
}

.div:nth-child(odd) {
  transform: perspective(300px) rotateY(45deg);
  /*box-shadow: -2px 2px 7px gray;*/
}

.div:nth-child(even) {
  transform: perspective(300px) rotateY(-45deg);
 
}
.div:hover {
  transform: rotateY(0);
  color: black;
}

/*MAIN CONTENT*/
.custom_main_bg {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.418);
  position: relative;
  padding-top: 15vh;
}
/*Sections general*/
.custom_section {
  width: 100%;
  height: 85vh;
}
  

/*Section 1*/
/*s1 col 1*/
#custom_bg_s1_col1{
  background: url("../images/background/nature_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  border: 2px solid #a5d710;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  border: 15px solid transparent;
  padding: 15px;
  border-image-source: url("../images/background/wood.png");
  border-image-repeat: stretch;
  border-image-slice: 30;
}


#custom_bg_s1_col2 {

}

#custom_bg_s2_col1, #custom_bg_s2_col2 {
  border-radius:10% 0;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.6);
}

/*FOOTER*/
.custom_footer_bg {
  background-color: #633c07b8;
  border-radius: 0;
}

/*REGISTER*/
.hidden_form {
  visibility: hidden;
}




/*ADMIN PAGES*/
/*GENERAL*/

/*Admin nav*/
.custom_admin_nav {
  position: absolute;
  top: 15vh;
  z-index: 1029;
  width: 100%;
}

.custom_admin_nav .nav-link.active , .nav-link:focus{
  background-image: url("../images/background/wood.png");
  background-size: cover;
  color:#333;
  text-shadow: 0px -1px 0px rgba(255,255,255,.5);
} 

.custom_admin_nav .dropdown-item:hover {
  background-color:#a5d710;
}

/*Admin section 1*/
.custom_admin_section {
  
  height: 85vh;
  background: url("../images/background/admin_bg_5372.png") no-repeat center;
  background-size: cover;
}  

/*Admin section 1 left*/
.custom_admin_section_bg_left  {
  
}

/*Admin index => profile */
#custom_admin_profile_s1_col1 {
  width:40%;
  border : 10px solid #845f3c;
  box-shadow: #54452c 3px 3px 3px;
}

.custom_admin_profile_div_title {
  
  width:250px;
  background-color: #0fa3b1;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 3px #845f3c;
  box-shadow: #54452c 3px 3px 3px;

}

.custom_admin_profile_title {
  color: #f9faf8;
  text-shadow: 0px -1px 0px rgba(39, 38, 38, 0.5);
  
}

.custom_admin_circle {
  width: 6em;
  height: 6em;
  border: 2px solid #845f3c;
  border-radius: 50%;
  box-shadow: #54452c 3px 3px 3px;
  background-image: url(../images/background/wood.png);
}

.custom_admin_icon_badge {
  text-shadow: 0px -1px 0px #5a0620;
}

.custom_admin_badges {
  position: absolute;
  margin: 8px;
}

.custom_admin_section_bg_right  {
  
}

.custom_admin_bg_s1col2 {
  
  background: url("../images/background/nature_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  border: 8px solid #9d8547;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.custom_admin_bg_form {
  height: 650px;
  z-index: 2000;
  background-image: url("../images/background/curtain_form.png");
  background-repeat: no-repeat;
  background-size: cover;
 }
/*MAP*/
#map {
  height: 80%;
  border: solid 3px #845f3c;
  box-shadow: #54452c 3px 3px 3px;
}