{% extends "main_template.html.twig" %}


{% block section1 %}
<h3>J'espère que tu es en forme {{user.name}} !</h3>
{% for add in lastAdds %}
{{add.title}} {{add.name}} {{add.address}} 
{% endfor %}
{% endblock %}
