{% extends "sections_template.html.twig" %}


{% block section1 %}
{# <h3>J'espère que tu es en forme {{user.name}} !</h3>
{% for add in lastAdds %}
{{add.title}} {{add.name}} {{add.address}} 
{% endfor %} #}

<div class="row h-100 justify-content-center">
    <!--Section 1 left part-->
    <div class="custom_section col-lg-6 d-flex justify-content-center align-items-center bg-light">
        <div class="container w-75 h-75">
            <div class="custom_bg_s1_col1 row h-100 text-center">
                <div class="col-md-10 m-auto bg-primary">
                    <h2 class="text-center text-light">3 flans, 6 choux :</h2>
                    <h3>Une autre façon de voir local</h3>
                </div>
            </div>
        </div>
    </div>
    <!--Section 1 right part-->
    <div class="custom_section col-lg-6 d-flex justify-content-center align-items-center bg-light">
        <div class="container w-100 h-75">
            <div class="custom_bg_s1_col2 row h-100 justify-content-center align-items-center bg-light">
                <div class="col-lg-6 p-0 text-center ">
                    <h1 class="text-primary">Bienvenue</h1>
                    <h2>Ici chez nous, c'est troc'n'roll ! </h2>
                </div>
                <div class="col-lg-6">
                    <img class=" d-flex mx-auto img-fluid mt-4" src="./images/persos/chou-chêne.png" alt="personnage chou avec un panier et des sabots bois">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block section2 %}
<div class="row h-100 justify-content-center">
    <!--Section 1 left part-->
    <div class="custom_section col-lg-6 d-flex justify-content-center align-items-center">
        <div class="container w-100 h-75">
            <div class="custom_bg_s2_col1 row h-100 text-center bg-light" >
                <div class="col-md-10 m-auto bg-primary">
                    <h2 class="text-center text-light">3 flans, 6 choux :</h2>
                    <h3>Une autre façon de voir local</h3>
                </div>
            </div>
        </div>
    </div>
    <!--Section 2 right part-->
     <div class="custom_section col-lg-6 d-flex justify-content-center align-items-center">
        <div class="container w-100 h-75">
            <div class="custom_bg_s2_col2 row h-100 text-center bg-light">
                <div class="col-md-10 m-auto bg-primary">
                    <h2 class="text-center text-light">3 flans, 6 choux :</h2>
                    <h3>Une autre façon de voir local</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block section3 %}
<div class="row h-100 justify-content-center">
    <!--Section 1 left part-->
    <div class="custom_section col-lg-6 d-flex justify-content-center align-items-center bg-light">
        <div class="container w-75 h-75">
            <div class="custom_bg_s3_col1 row h-100 text-center">
                <div class="col-md-10 m-auto bg-primary">
                    <h2 class="text-center text-light">3 flans, 6 choux :</h2>
                    <h3>Une autre façon de voir local</h3>
                </div>
            </div>
        </div>
    </div>
    <!--Section 1 right part-->
    <div class="custom_section col-lg-6 d-flex justify-content-center align-items-center bg-light">
        <div class="container w-100 h-75">
            <div class="custom_bg_s3_col2 row h-100 justify-content-center align-items-center bg-light">
                <div class="col-lg-6 p-0 text-center ">
                    <h1 class="text-primary">Bienvenue</h1>
                    <h2>Ici chez nous, c'est troc'n'roll ! </h2>
                </div>
                <div class="col-lg-6">
                    <img class=" d-flex mx-auto img-fluid mt-4" src="./images/persos/chou-chêne.png" alt="personnage chou avec un panier et des sabots bois">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}