{% extends "main_template.html.twig" %}


{% block content %}
Pour voir les annonces et en déposer vous devez vous inscrire/connecter
{% for offer in lastoffers %}
<div> {{ offer.id }},{{offer.title}},{{offer.description}}
</div>
{% endfor %}

{% endblock %}
