{% extends "simple_template.html.twig" %}
{% block simplepage %}

<div class="row h-100 justify-content-center" >
    <div class="custom_section custom_legals_mentions col-10 d-flex justify-content-center align-items-center bg-light">
        <div class="container w-75 h-75" > 
        <h2 class="text-center text-primary ">MENTIONS LEGALES :</h2>
        <h3 class="text-center text-primary mb-5"> En vigueur au 04/07/2020</h3>
        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie
        numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site https://3flans6choux.desmet-webdev.fr/index.php?
        controller=home&action=index les présentes mentions légales.</br>
        La connexion et la navigation sur le site (indiquer le nom du site) par l’Utilisateur implique acceptation intégrale et sans réserve
        des présentes mentions légales.</br>
        Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</br>
        <h4>ARTICLE 1 : L’ÉDITEUR</h4>
        <p>L’édition et la direction de la publication du site</p> <a class="text-primary"href="https://3flans6choux.desmet-webdev.fr/index.php? 
        controller=home&action=index">https://3flans6choux.desmet-webdev.fr/index.php?
        controller=home&action=index</a>
        <p>est assurée par :</br> Natacha DE SMET,</br> domiciliée rue bel air à Saint Martin des Champs (29),</br> dont l'adresse e-mail est natachadesmet@yahoo.fr.</p></br>
        <h4>ARTICLE 2 : L’HÉBERGEUR</h4>
        <p>L'hébergeur du site https://3flans6choux.desmet-webdev.fr/index.php?controller=home&action=index est :</br> la Société IONOS,</br> dont
        le siège social est situé au 7 Place de la gare 57200 SARREGUEMINES </p>
        <h4>ARTICLE 3 : ACCÈS AU SITE</h4>
        <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant
        découlant d’une nécessité de maintenance.</br>
        En cas de modification, interruption ou suspension des services le site https://3flans6choux.desmet-webdev.fr/index.php?
        controller=home&action=index ne saurait être tenu responsable.</p>
        <h4>ARTICLE 4 : COLLECTE DES DONNÉES</h4>
        <p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte
        aucune donnée concernant les utilisateurs.</p>
        <h4>ARTICLE 5 : COOKIES</h4>
        <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de
        navigation.</br>
        En naviguant sur le site, il les accepte.</br>
        Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations relatives à la
        navigation de celui-ci sur le site Internet.</br> L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres figurant au
        sein de son logiciel de navigation.
        </p>
        <h4>ARTICLE 6 : PROPRIÉTÉ INTELLECTUELLE</h4>
        <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site https://3flans6choux.desmetwebdev.fr/index.php?controller=home&action=index, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions
        et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
        </div>
    </div>

</div>
{% endblock %}

