{% extends "simple_template.html.twig" %}
{% block simplepage %}
    <div class="row h-100 justify-content-center" >
        <div class="custom_section custom_who col-10 d-flex justify-content-center align-items-center bg-light">
            <div class="container h-75" > 
                <h1 class="display-4 text-center text-secondary">Qui ?</h1>
                <h2 class="text-center text-primary mb-5"> Juste quelqu'un...</h2>
                <div class="jumbotron text-center text-light bg-primary">
                    <p class="lead font-weight-bold">Je m'appelle "Nat".<br>Je suis un peu artiste sur les bords...au milieu, au coeur, aussi sans doute.</p><br>
                </div>
                <h3 class="text-center text-primary my-3">Mon "dada" ?</h3>
                <div class="jumbotron text-center text-light bg-info">                    
                    <p class="lead font-weight-bold">Euh...j'aime beaucoup me prendre la tête !...<br>mais dans le bon sens du terme hein !. <br>Et oui, réfléchir à de nouveaux concepts me passionne et d'autant plus quand ils ont pour base les "Valeurs humaines".</p>
                </div>              
            </div>
        </div>
    </div>
{% endblock %}
