<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>3 flans, 6 choux {% block title %}{{ title }}{% endblock %}</title>
  </head>
  <body class="custom_body_bg">    
    {% include ("partials/header_front.html.twig") %} 

    <!--MAIN CONTENT-->
  <div class="custom_main_bg">

    <!--SECTION 1-->
    <section class="custom_section container-fluid" id="home_section1">
      <div class="row h-100">
        <!--Section 1 left part-->
        <div class="col-md-6 d-flex justify-content-center align-items-center bg-light">
          <div class=" d-flex justify-content-center align-items-center  w-75 h-50 " id="custom_bg_s1_col1">
            <p class="text-center">
              {% for log in logs %}
                <p class="alert {{log.alertBootstrap}}">
                  {{log.message}} 
                </p> 
              {% endfor %}
              {% block content %}{% endblock %}</p>
          </div>
        </div>
        <!--Section 1 right part-->
        <div class="col-md-6 bg-light"></div>
      </div>
    </section>

    <!--SECTION 2-->
    <section class="custom_section container-fluid" id="home_section2">
      <div class="row h-100">
        <!--Section 2 left part-->
        <div class="col-md-6 d-flex justify-content-center align-items-center ">
          <div class="d-flex w-75 h-50 bg-white" id="custom_bg_s2_col1 ">
            <p class="text-center">ceci est un test</p>
          </div>
        </div>
        <!--Section 2 right part-->
        <div class="col-md-6 bg-light"></div>
      </div>
    </section>

    <!--SECTION 3-->
    <section class="custom_section container-fluid" id="home_section3">
      <div class="row h-100">
        <!--Section 3 left part-->
        <div class="col-md-6 d-flex justify-content-center align-items-center bg-primary">
          <div class="d-flex w-75 h-50 bg-white" id="custom_bg_s3_col1 ">
            <p class="text-center">ceci est un test</p>
          </div>
        </div>
        <!--Section 3 right part-->
        <div class="col-md-6 bg-light"></div>
      </div>
    </section>
  </div>
    

    <!--footer-->
    {% include ("partials/footer.html.twig") %} 
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>