{% extends "main_template.html.twig" %}   
<!--For home, info, who pages-->     
{% block content %}
    <!--SECTION 1-->
      <section class="container-fluid">
        {% block section1 %}{% endblock %}
      </section>

      <!--SECTION 2-->
      <section class="container-fluid">
        {% block section2 %}{% endblock %}
      </section>

      <!--SECTION 3-->
      <section class="container-fluid">
        {% block section3 %}{% endblock %}  
      </section>
{% endblock %}
