{% extends "admin_template.html.twig" %}
{% block section1L %}
    <div class="container-fluid h-100 pt-5" >          
        <div class="row justify-content-center align-items-center m-3">
            <h3 class="custom_engraved_text text-center">Mon dashboard</h3>            
        </div>
        <div class="row h-75 justify-content-center align-items-center m-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Nombre de paniers</div>
                <div class="card-body">
                    <h5 class="card-title">Professionnels</h5>
                    <p class="card-text">
                        {% for add in lastAdds %}
                            {{add.title}} {{add.name}} {{add.address}} 
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Nombre d'annonces</div>
                <div class="card-body">
                    <h5 class="card-title">Particuliers</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
